@charset "UTF-8";
.section-inner {
  max-width: 1194px;
  margin: 0 auto;
}

.main_image {
  width: 100%;
  height: 757px;
  overflow: hidden;
}
.main_image__slide {
  width: 100%;
}
.main_image__slide img {
  width: 100%;
  height: auto;
}

.slick-arrow {
  z-index: 2;
  /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
  position: absolute;
  /* 원하는 위치에 지정  */
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-25px);
  font-size: 40px;
}

.slick-prev.slick-arrow {
  /* prev 이전 */
  left: 10px;
}

.slick-next.slick-arrow {
  /* next 다음 */
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  font-size: 20px;
}

header {
  max-width: 1194px;
  margin: 0 auto;
  position: relative;
}

.gnb__top {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 100;
  width: 20%;
}
.gnb__top > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gnb__top > ul > li {
  padding: 0 10px;
}
.gnb__top a {
  color: #fff;
}
.gnb__top a:hover {
  color: rgba(235, 235, 235, 0.904);
}

.gnb__wrap {
  position: absolute;
  width: 100%;
  top: 36px;
  z-index: 100;
}

.logo a {
  width: 240px;
  height: 62px;
  display: block;
  font-size: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.logo a img {
  width: 100%;
  height: auto;
}

.gnb {
  position: absolute;
  top: 17px;
  left: -22px;
  width: 1194px;
  height: 62px;
  overflow: hidden;
}
.gnb > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gnb > ul > li {
  padding: 0 10px;
}
.gnb__title {
  display: block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.gnb__title:hover {
  color: rgba(12, 12, 12, 0.9);
}

.gnb__li {
  position: relative;
}
.gnb__li a {
  color: #111;
}

.sub {
  position: absolute;
  z-index: 500;
  top: 50px;
  left: -336px;
  width: 1194px;
  height: 250px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.sub.active {
  display: flex !important;
  transition: 0.5s;
}
.sub li {
  width: 20%;
  text-align: center;
  padding-top: 20px;
}
.sub a {
  color: #111;
  text-align: center;
}

#search-box {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 290px;
}

.search_area {
  position: relative;
}
.search_area legend {
  display: none;
}
.search_area #search-box {
  width: 290px;
  height: 48px;
  border-radius: 10px;
  padding-left: 20px;
}
.search_area button {
  background-color: #00000000;
  border-width: 0px;
}
.search_area button:hover::after {
  color: rgba(12, 12, 12, 0.9);
}
.search_area button::after {
  display: block;
  position: absolute;
  z-index: 200;
  content: "";
  right: 40px;
  top: 1px;
  width: 45px;
  height: 45px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  line-height: 45px;
  cursor: pointer;
  color: #333;
}

.content {
  width: 1194px;
  margin: 0 auto;
}
.content .figure {
  width: 100%;
}
.content .figure__image {
  display: block;
  width: 100%;
  height: 621px;
  overflow: hidden;
  margin-bottom: 20px;
}
.content .figure__image img {
  width: 100%;
  height: auto;
}
.content .figure__text {
  font-family: "Noto Sans KR", sans-serif !important;
  text-align: center;
}
.content .figure__text--title {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.content .figure__text--sub {
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.content .figure__button {
  width: 218px;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
}
.content .figure__button a {
  display: block;
  width: 218px;
  height: 40px;
  line-height: 40px;
  background-color: #111;
  font-weight: bold;
  color: #e6e6e6;
  border-radius: 10px;
}
.content .figure__button a:hover {
  background-color: #505050;
}

.smooth-slide {
  width: 1194px;
  height: 503px;
  overflow: hidden;
  margin-bottom: 150px;
}
.smooth-slide h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #111;
}
.smooth-slide .content--slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1194px;
  height: 503px;
  overflow: hidden;
}
.smooth-slide .content--slide .card {
  width: 374px;
  margin: 0 auto;
}
.smooth-slide .content--slide .card a {
  display: block;
  width: 100%;
  height: 503px;
}
.smooth-slide .content--slide .card a div {
  height: 318px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.smooth-slide .content--slide .card a div img {
  width: 100%;
  height: auto;
  display: block;
}
.smooth-slide .content--slide .card a h4 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #202020;
}
.smooth-slide .content--slide .card a p {
  color: #888888;
  line-height: 1.2rem;
}

.main_image .slick-dots {
  bottom: 15px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1194px;
  height: 373px;
}

.item {
  width: 276px;
  margin-right: 30px;
}
.item > a {
  display: block;
  width: 276px;
}
.item__img-wrap {
  width: 276px;
  height: 280px;
  background-color: #f6f6f6;
  text-align: center;
  margin-bottom: 20px;
}
.item__img-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.item__title, .item__price {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 700;
}
.item__price {
  margin-bottom: 10px;
}
.item__hash {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 700;
}

.content-tab {
  width: 1194px;
  margin: 0 auto;
  display: none;
  position: absolute;
  height: 373px;
  top: 100px;
  left: 0px;
  display: none;
}

.tab-active {
  display: block !important;
}

.tab {
  position: relative;
  width: 1194px;
  height: 492px;
  margin-bottom: 150px;
}

.tab h3 {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  top: 0px;
  height: 80px;
  cursor: pointer;
}
.tab h3.act::after {
  content: "";
  display: block;
  width: 96%;
  height: 4px;
  background-color: #000;
  margin-top: 20px;
}
.tab h3:hover {
  color: #757575;
}

.tab--heading__best {
  left: 0px;
}

.tab--heading__new {
  left: 50%;
}

.list .slick-dots {
  bottom: -50px;
}

footer {
  width: 100%;
  background-color: #000;
}

.footer-inner {
  max-width: 1194px;
  margin: 0 auto;
}

.footer--top {
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.footer--top dt {
  color: #d4d4d4;
  margin-bottom: 32px;
  font-size: 1.1rem;
  font-weight: 700;
}
.footer--top a {
  color: #d4d4d4;
  line-height: 1.5rem;
}
.footer--top .sns {
  position: absolute;
  bottom: -128px;
  right: 0px;
  display: flex;
}
.footer--top .sns dt {
  font-size: 0px;
}
.footer--top .sns .sns--a {
  display: block;
  border-radius: 5px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}
.footer--top .sns .sns--a i {
  color: #111;
  font-size: 18px;
  line-height: 30px;
}

address {
  width: 100%;
  border-top: 2px solid #fff;
  padding-top: 37px;
  margin-top: 86px;
  color: #888888;
  height: 168px;
  line-height: 1.2rem;
  font-size: 1rem;
}

/*# sourceMappingURL=main_pc.css.map */
